<nav class="navbar navbar-inverse navbar-default navbar-fixed-top bg-inverse">
 
    <!--<img class="float-left" src="./src/assets/images/anchor.png" alt="ATOM logo" height="50px"> -->
 
  <i class="fa fa-cog fa-inverse fa-2x" aria-hidden="true"></i>
  <a class="navbar-brand" href="#">Vessel Performance Real Time | <span style='color:#FFFFFF'> SIMULATOR </span> </a>
  <div class="col-xs-1 pull-right">
    <img class="float-right" src="./src/assets/images/logoatomHeader.png" alt="ATOM logo" height="40px">
  </div>
</nav>
<nav class="navbar navbar-default ">
  </nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <app-vessel-visit></app-vessel-visit>
    </div>
  </div>
</div>