<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="row">
      <div class="col-xs-8">
        <img style="float:left" src="assets/images/container-ship.png" height="120px" alt="">
        <h2 class="display-1">{{vesselVisit.vesselName}}</h2>
        <h3 class="display-2">{{vesselVisit.idVisit}}</h3>
      </div>
      <div class="col-xs-4">
        <h3 class="display-1 pull-right">{{dateSim | date: 'dd/MM/yyyy HH:mm:ss'}}</h3>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <button type="button" ng-if="!vesselVisit"         
            class="btn btn-primary" (click)="OnSimXvelaVesselReady()">SIM XvelaVesselReady</button>
            <app-add-crane></app-add-crane>
          </div>
      <div class="col-xs-6">
        <form class="form-inline pull-right">
          <input #intervalSpeed class="form-control mr-xs-2" type="text" placeholder="15">
          <button type="button" *ngIf="!this.simStarted" [ngClass]="{disabled : simStarted || loading}" class="btn btn-success" (click)="OnStartSimulator()">Start Simulator</button>
          <button type="button" *ngIf="this.simStarted" [ngClass]="{disabled : !simStarted || loading}" class="btn btn-danger" (click)="OnStopSimulator()">Stop Simulator</button>
        </form>
      </div>
    </div>
  </div>
      <app-crane #craneCmp *ngFor="let craneEl of vesselVisit.craneList" [crane]="craneEl"></app-crane>
</div>
<ng-template #showLoading>
  <div class="container">
    <p>Gettin Vessel Visit</p>
  </div>
</ng-template>