
<div class="container" (startEvent)="startEvent($event)">
  <div class="row">
    <h3 class="display-2">Crane: {{crane.idCrane}}</h3>
      <h5 *ngIf="currentSimDate"> Sim time: {{currentSimDate | date: 'dd/MM/yyyy HH:mm:ss'}}</h5>

   <!-- <button type="button" class="btn btn-success" (click)="OnStartSim()">Start Crane</button>
    <button type="button" class="btn btn-danger" (click)="OnStopSim()">Stop Crane</button>-->
    
    <div class="col-md-2">
    <div class="form-group">
        <label for="name">Sim speed</label>
        <input #intervalSpeed type="text" class="form-control" size="5" value="15">
        <label for="name">Init delay (min)</label>
        <input #initDelay type="text" class="form-control" value="15">
      </div>
    </div>
  </div>
  
  <div class="row">
  <div class="col-sm-4" style="height: 500px; overflow: auto;">
    <h3 class="display-3">Planned units ({{crane.unitPlannedList.length}}/{{totalUnits}})</h3>
    <table class="table table-striped" >
      <thead>
        <tr>
          <th>Unit Id</th>
          <th>Planned time</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let unitPl of crane.unitPlannedList">
          <td>{{unitPl.idUnit}}</td>
          <td>{{unitPl.dateOfMove | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-sm-6" style="height: 500px; overflow: auto;">
    <h3 class="display-3">Executed units ({{crane.unitExecutedList.length}}/{{totalUnits}})</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Unit Id</th>
          <th>Planned</th>
          <th>Executed time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let unitEx of crane.unitExecutedList">
          <td>{{unitEx.idUnit}}</td>
          <td>{{unitEx.dateOfMove | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>{{unitEx.dateOfMoveSIM | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
<hr>
