<div class="row">
  <div class="col-md-6">
    <h3 class="display-2">Crane: {{crane.idCrane}}</h3>
    <h5 *ngIf="currentSimDate"> Sim time: {{currentSimDate | date: 'dd/MM/yyyy HH:mm:ss'}}</h5>
  </div>

  <div class="col-md-6">
    <div class="form-check pull-right">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" [checked]="isAddCBChecked" (change)="isAddCBChecked = !isAddCBChecked"> Add Crane Break
      </label>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-6">
      <p *ngFor="let cBreak of crane.craneBreakList">
        ({{cBreak.type}}) {{cBreak.startDate | date: 'HH:mm'}} - {{cBreak.endDate | date: 'HH:mm'}}
      </p>
    </div>
    <div class="col-md-6">
      <div class="form-group pull-right">
        <div class="col-md-4">
          <label for="name">Init delay (min)</label>
          <input #initDelay type="text" class="form-control" [ngClass]="{disabled : simStarted}" placeholder="0">
        </div>
        <div class="col-sm-4">
          <label for="name">CraneBreak StartTime</label>
          <input #cbStartTime type="text" [disabled]="!isAddCBChecked" class="form-control" [ngClass]="{disabled : simStarted}" placeholder="17:00">
        </div>
        <div class="col-sm-4">
          <label for="name">CraneBreak (min)</label>
          <input #cbMinutes type="text" [disabled]="!isAddCBChecked" class="form-control" [ngClass]="{disabled : simStarted}" placeholder="45">
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm2">
              <img style="float:left" src="assets/images/wind.png" height="45px" alt="">
            </div>
            <div class="col-sm2">
              <mat-slider #slWind #slWind min="0" max="5"  (change)="onInputChange()" [thumb-label]="false" [tick-interval]="1" step="1" [(ngModel)]="slWindValue"></mat-slider>
            </div>
          </div>



          <div class="row">
            <div class="col-sm2">
              <img style="float:left" src="assets/images/sun.png" height="45px" alt="">
            </div>
            <div class="col-sm2">
              <mat-slider #slRain min="0" max="5"   (change)="onInputChange()" [thumb-label]="false" [tick-interval]="1" step="1" [(ngModel)]="slRainValue"></mat-slider>
            </div>
          </div>

          <div class="col-sm2">
            <img style="float:left" src="assets/images/happy.png" height="30px" alt="">
          </div>
          <div class="col-sm2">
            <mat-slider #slHappiness min="-4" max="4" (change)="onInputChange()" [thumb-label]="false" [tick-interval]="1" step="2" [(ngModel)]="slHappinessValue"></mat-slider>

          </div>
          <!-- <div class="col-sm2">
                  <img style="float:right" src="./src/assets/images/sad.png" height="30px" alt=""> 
              </div> -->




        </div>

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <h3 class="display-3">Planned units ({{crane.unitPlannedList.length}}/{{totalUnits}})</h3>
  </div>
  <div class="col-sm-6">
    <h3 class="display-3">Executed units ({{crane.unitExecutedList.length}}/{{totalUnits}})</h3>
  </div>
  <div class="row">
    <div class="col-sm-4" style="height: 500px; overflow: auto;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Unit Id</th>
            <th>Planned time</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let unitPl of crane.unitPlannedList">
            <td>{{unitPl.idUnit}}</td>
            <td>{{unitPl.dateOfMove | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
            
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6" style="height: 500px; overflow: auto;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Unit Id</th>
            <th>Planned</th>
            <th>Executed time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let unitEx of crane.unitExecutedList">
            <td>{{unitEx.idUnit}}</td>
            <td>{{unitEx.dateOfMove | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>{{unitEx.dateOfMoveSIM | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <hr>