<div class="container">
  
  <div class="row">
    <h3 class="display-2">Crane: {{crane.idCrane}}</h3>
    <button type="button" class="btn btn-success" (click)="OnStartSim()">Start Sim</button>
    <button type="button" class="btn btn-danger" (click)="OnStopSim()">Stop Sim</button>
    <input #intervalSpeed type="text" value="1">
  </div>
  
  <div class="row">
  <div class="col-sm-4">
    <h3 class="display-3">Planned units ({{crane.unitPlannedList.length}}/{{totalUnits}})</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Unit Id</th>
          <th>Expected time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let unitPl of crane.unitPlannedList">
          <td>{{unitPl.idUnit}}</td>
          <td>{{unitPl.dateOfMove}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-sm-4">
    <h3 class="display-3">Executed units ({{crane.unitExecutedList.length}}/{{totalUnits}})</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Unit Id</th>
          <th>Expected time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let unitEx of crane.unitExecutedList">
          <td>{{unitEx.idUnit}}</td>
          <td>{{unitEx.dateOfMove}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</div>

